.navbar {
  display: flex;
  height: 50px;
  justify-content: center;
  background-color: white;
  width: 100%;
}
.navbarHeader {
  margin-left: 10px;
  font-size: 24px;
  font-weight: 700;
}
.navbarLogin {
  margin-left: auto;
  margin-right: 20px;
  cursor: pointer;
}
.navbarSearch {
  width: 200px;
  margin-left: 30px;
}
.navbarAvatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}
.container {
  width: 1140px;
  display: flex;
  align-items: center;
}
